NETBOX_TOKEN = '<SECRET>'

CFDNS_TOKEN = '<SECRET>'

NETBOX_URL = 'http://localhost:8096'

NETBOX_PUBLIC_URL = 'https://netbox.my.network'

PM_TOKEN = '<SECRET>'

PM_URL = 'http://localhost:8097'

PM_PUBLIC_URL = 'https://pm.my.network'

NETDB_URL = "http://localhost:8001/"

MONGO_URL = "mongodb://localhost:27017/"
